body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex; /* This will lay out your children in a row */
  align-items: center; /* This will vertically align your items in the center */
  margin-bottom: 10px; /* Add space between rows */
}

input, select {
  max-width: 200px; /* Adjust the width as needed */
  overflow: hidden; /* Ensures the content is not displayed outside the element's box */
  text-overflow: ellipsis; /* This will add an ellipsis if the text overflows */
  white-space: nowrap; /* Keep the overflow text on the same line */
}

label {
  margin-right: 10px; /* Add some space between the label and the input */
}

.button {
  margin-left: auto; /* Pushes the button to the end of the flex container */
}

